body {
	font-family: 'Segoe UI', sans-serif;
}

span {
	font-style: italic;
}

h1 {
	margin: 0px;
}

.inventory-grid {
	width: 200px;
	height: 700px;
	background-color: #bbcc96;
}

.build-grid {
	width: 300px;
	height: 300px;
	background-color: #bbcc96;
}

.build-grid-square {
	margin: 2px;
	height: 96px;
	width: 96px;
	background-color: rgb(117, 97, 97);
	float: left;
	/*width: 100px;
	height: 100px;
	background-color: #bbcc96;*/
	line-height: 100px;
	text-align: center;
	border-radius: 3px;
	/*border: 1px solid green;*/
}

.draggable-inventory-item {
	height: 75px;
	width: 75px;
	background-color: red;
	line-height: 75px;
	text-align: center;
	cursor: move;
}

.build-grid-square-selected {
	background-color: red;
}

.build-grid-square-hover {
	border: 2px dashed black;
	
	height: 92px;
	width: 92px;
	background-color: #ffd800;
}

.ui-panel {
	float: left;
	width: 200px;
	background-color: rgba(209, 208, 208, 0.62);
	margin: 10px;
	border-radius: 10px;
	padding: 10px;
}

#build-grid {
	width: 300px;
}

#viewmodel-dump {
	clear: both;
}

.item-in-hand {
	/*background-color: rgb(117, 97, 97);
	color: rgb(117, 97, 97);*/
	background-color: rgb(0, 255, 33);
	color:  rgb(0, 255, 33);
}